/* option CSS for personalising display */

#header {
    box-shadow: none;
    border-bottom:1px solid #A0A0A0;
    background: white url('images/cnix_logo.png') no-repeat 150px 70px;
}

#header H1 {
    font: 1.4em verdana;
    color:#A0A0A0;
}

#footer {
    background: none repeat scroll 0 0 #A0A0A0;
    box-shadow: none;
    border-top:1px solid #A0A0A0;
}